body{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/about2.png);
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    width: 50%;
    height: 70vh;
    color: white;
    padding: 30px;
    padding-top: 40px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    font-size: 1.3em;
}
.container p{
    margin-bottom: 20px;
}

@media (max-width:600px){
    .container{
        margin-top: 200px;
    }
}
@media (min-width: 601px) and (max-width:1300px) {
    /* For tablets: */
    .container{
        margin-top: 200px;
    }

  }